
body{
  color:#EAE6EB;
  background:rgba(253,246,254,0.95);
  margin:0px;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 100px;
}

header{
  border-bottom: solid 2px rgb(194,24,188);
  padding: 20px;
  font-size: 32px;
  color: rgb(129,12,116);
}

h1{
  font-size: 40px;
}

p {
font-size: 20px;
}

img {
  height: 200px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 5px solid #750C86;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

section{
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
  margin-right: 5%;
  padding-bottom: 80px;
  padding-top: 80px;
  display:flex;
  justify-content: center;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria h2 {
  color: rgb(254,254,255);
}